<style>
	.divTab{
                display: inline;
		border: 1px solid #000000;
		padding: 2px 2px 2px 2px;
		margin: 0 0 0 0;
        }
	.divTab:first-child{
		background-color: #FFFFFF;
	}
	.divTabContents:first-child{
		background-color: block;
	}
	.divTab:hover{
		background-color: #D8D8D8;
	}
	#testsTabContent{
		display: none;
	}
	#documentsTabContent{
		display: none;
	}
	#displayActivity{
		border-spacing: 3.5px;
	}
	#displayActivity td{
		//padding-left: .5%;
		text-align: center;
		white-space: nowrap;
	}
	#displayActivity tr:nth-of-type(even){
		background-color: white;
	}
</style>